@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .hero_area {
        height: auto;
    }

    header.header_section {
        padding-top: 10px;
    }

    .navbar-nav {
        align-items: center;
        padding-top: 10px;
    }

    .custom_nav-container .navbar-toggler {
        margin-right: -15px;
    }

    .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 15px;
        margin: 5px 0;
    }

    .custom_nav-container .form-inline {
        padding: 0;
        justify-content: center;
    }

    .custom_nav-container .nav_search-btn {
        background-position: center;
    }

    .slider_section .detail-box {
        margin-top: 75px;
    }

    .slider_section .detail-box h1 {
        letter-spacing: 0.5rem;
    }

    .slider_section .carousel-indicators {
        bottom: 25px;
    }