body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  
  .layout_padding {
    padding: 90px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .heading_container h3 {
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
  }
  
  .heading_container h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 1px;
    height: 65px;
    background-color: #4bc5b8;
    -webkit-transform: translateY(-50%) rotate(20deg);
            transform: translateY(-50%) rotate(20deg);
  }
  
  /*header section*/
  .hero_area {
    height: 100vh;
    background-color: #b5caee;
    background-image: url(https://cloudfront-us-east-2.images.arcpublishing.com/reuters/TP2HFJ63ARPQTHFYUYFAAQZXWQ.jpg);
    background-size: cover;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .contact_section {
    margin: 75px 0;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 45px 15px 15px;
    color: #ffffff;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    background-color: #013738;
  }
  
  .custom_nav-container .form-inline {
    padding-top: 30px;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .navbar-brand h3 {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .navbar-brand span {
    font-size: 16px;
    font-weight: bold;
    color: #133e3f;
    margin-top: -10px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  /*end header section*/
  .slider_section {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
  
  .slider_section #carouselExampleIndicators {
    width: 100%;
  }
  
  .slider_section .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 110px;
  }
  
  .slider_section .detail-box h1 {
    font-size: 4rem;
    letter-spacing: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #133e3f;
    border: 1px solid #133e3f;
    color: #ffffff;
    margin-top: 35px;
  }
  
  .slider_section .detail-box a:hover {
    background-color: transparent;
    color: #133e3f;
  }
  
  .slider_section #carouselExampleIndicators {
    bottom: 0;
  }
  
  .slider_section #carouselExampleIndicators li {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 100%;
    opacity: 1;
  }
  
  .slider_section #carouselExampleIndicators li.active {
    border-color: #133e3f;
  }  

  .ag-theme-alpine{

    height: 100%;
    width: 100%;

  }